In [3]:
for num in range(0,20,1):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range(10,20,1):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [6]:
list=[10,20,14,55,43,87,76]
len=0
for num in list:
    len=len+1
print("The length of the list is",len)

The length of the list is 7

In [9]:
    word="Artificial Intelligence"
    for i in word:
        print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [11]:
name="PRAKASH L"
age=34
profession="COMPUTER ENGINEER"
print(name)
print(age)
print(profession)

PRAKASH L
34
COMPUTER ENGINEER

In [13]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [15]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [29]:
list=[20,10,16,19,25,1,276,188]
print(list)
for num in list:
    if(num%2==1):
        print(num,"is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [30]:
list=[20,10,16,19,25,1,276,188]
print(list)
for num in list:
    if(num%2==0):
        print(num,"is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even